<!-- Terms and Privacy -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="shrink cell text-center padding-top-0">
    <h1 class="serif-italic">Thank you!</h1>
  </div>
</div>
<!-- End Terms and Privacy -->

<!-- Terms and Privacy -->
{#
<div class="grid-x grid-padding-x grid-padding-y align-center text-center">
  <div class="small-12 medium-3 cell">
    <a href="mailto:info@buffalofilms.co.uk" class="underline">
    <div>1A Fournier St, Spitalfields</div>
    <div>London E1 6QE</div>
    </a>
  </div>
  <div class="small-12 medium-3 cell">
    <div><a href="mailto:info@buffalofilms.co.uk">info@buffalofilms.co.uk</a></div>
    <div><a href="mailto:press@buffalofilms.co.uk">press@buffalofilms.co.uk</a></div>
  </div>
  <div class="small-12 medium-3 cell">
    <div><a href="mailto:info@buffalofilms.co.uk">Instagram</a></div>
    <div><a href="mailto:press@buffalofilms.co.uk">Twitter</a></div>
  </div>
</div>
#}
<!-- End Terms and Privacy -->