<!-- Navigation -->
<div class="grid-x align-justify align-middle navigation" id="swup-header" style="z-index: 14">

  <div class="shrink cell align-middle">
      <ul class="menu serif-italic h3">
        <li><a href="/about">About</a></li>
      </ul>
  </div>

  <div class="auto cell text-center">
    <a href="/projects" class="h2 logo secondary-color">Buffalo</a>
  </div>

  <div class="shrink cell align-middle text-right">
      <ul class="menu serif-italic h3">
        <li><a href="/contact">Contact</a></li>
      </ul>
  </div>

</div>
<!-- End Desktop Navigation -->
