<!-- Navigation -->
<div class="grid-x grid-padding-y align-justify align-middle" id="swup-header" style="z-index: 14">

  <div class="small-3 cell align-middle text-center text-uppercase letter-spacing--loose small">
  <a href="/projects">Projects</a>
  </div>

  <div class="small-4 medium-6  cell text-center">
    <a href="/" class="h1 logo text-uppercase">Buffalo Films</a>
  </div>

  <div class="small-3 cell align-middle text-center text-uppercase letter-spacing--loose small">
  <a href="/contact">Contact</a>
  </div>

</div>
<!-- End Desktop Navigation -->
