<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y" id="swup-header">
  <div class="small-12 cell padding-bottom-0">
    <a href="/" class="h5 logo text-uppercase" data-tippy-content="<img src='https://media.giphy.com/media/1guRIRTFGnnG07t2PdK/giphy-downsized.gif' width='200' height='200'>">Buffalo</a>
  </div>
</div>
<!-- End Navigation -->


