@font-face {
  font-family: 'GT Alpina Regular';
  src: 
  url('../fonts/gt-alpina-regular.woff2') format('woff2'), 
  url('../fonts/gt-alpina-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: 
  url('../fonts/circular-std-bold.woff2') format('woff2'), 
  url('../fonts/circular-std-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}