@font-face {
  font-family: 'Old London';
  src: 
  url('../fonts/old-london.woff2') format('woff2'), 
  url('../fonts/old-london.woff') format('woff'),
  url('../fonts/old-london.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brush Script';
  src: 
  url('../fonts/brush-script.woff2') format('woff2'), 
  url('../fonts/brush-script.woff') format('woff'),
  url('../fonts/brush-script.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk Regular';
  src: 
  url('../fonts/post-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/post-grotesk-regular.woff') format('woff'),
  url('../fonts/post-grotesk-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
